<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.coursetimetable.ie</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.1.199/80</MSDeployServiceURL>
    <DeployIisAppPath>www.coursetimetable.ie</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Course_TimetableEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CourseTimetable.Course_TimetableEntities, CourseTimetable" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CourseTimetable.Models.ApplicationDbContext, CourseTimetable" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Course TimetableConnectionString2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Course TimetableConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Course TimetableConnectionString3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Course TimetableConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Course TimetableConnectionString" Order="5" Enabled="False">
          <Destination Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Course TimetableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ct_ds_courses" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ct_ds_courses_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ct_ds" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ct_ds_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.199;Initial Catalog=&quot;Course Timetable&quot;;Persist Security Info=True;User ID=Cathal;Password=Password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Course TimetableConnectionString-Web.config Connection String">
      <ParameterValue>data source=192.168.1.199;initial catalog="Course Timetable";persist security info=True;user id=Cathal;password=Password;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Course TimetableConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Course TimetableConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Course_TimetableEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ct_ds-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ct_ds_courses-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.1.199;Initial Catalog="Course Timetable";Persist Security Info=True;User ID=Cathal;Password=Password</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>